html, body {
  height: 100%;
  background-color: #272727;
}

.logo-container {
  max-height: 60px;
}

.logo-container img {
  max-height: 60px;
  padding: 6px;
}

.no-decorate:hover {
  text-decoration: none;
}

.loader {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 40px 0;
}

.loader h3 {
  margin-top: 30px;
}

.transparent {
  opacity: 0;
}

.our-gradient {
  background: #0c0c13;
  background: -webkit-linear-gradient(-90deg, #0c0c13, #0c0715);
  background: -o-linear-gradient(-90deg, #0c0c13, #0c0715);
  background: -moz-linear-gradient(-90deg, #0c0c13, #0c0715);
  background: linear-gradient(-90deg, #0c0c13, #0c0715);
}

.fullwidth {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.max-page-width {
  max-width: 960px;
}

.auto-margins {
  margin-left: auto;
  margin-right: auto;
}

.our-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-evenly;
}

.transition-all {
  transition: all 0.5ms ease-in-out
}